In [15]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('../Early_recessions_and_crises.csv')

In [3]:
df.head()

,Name,Dates,Duration,Time since previous recession,Characteristics,Date,Event
0,Panic of 1785,1785–1788,~4 years,NaN,"The panic of 1785, which lasted until 1788, en...",1785–1788,Panic of 1785
1,Copper Panic of 1789,1789–1793,~4 years,~0 years,Loss of confidence in copper coins due to deba...,1789–1793,Copper Panic of 1789
2,Panic of 1792,1792–1792,~2 months,~0 years,Its causes included the extension of credit an...,1792–1792,Panic of 1792
3,Panic of 1796–1797,1796–1799,~3 years,~4 years,Just as a land speculation bubble was bursting...,1796–1799,Panic of 1796–1797
4,1802–1804 recession,1802–1804,~2 years,~3 years,A boom of war-time activity led to a decline a...,1802–1804,1802–1804 recession

In [4]:
df[df.Date.str.contains('–')]

,Name,Dates,Duration,Time since previous recession,Characteristics,Date,Event
0,Panic of 1785,1785–1788,~4 years,NaN,"The panic of 1785, which lasted until 1788, en...",1785–1788,Panic of 1785
1,Copper Panic of 1789,1789–1793,~4 years,~0 years,Loss of confidence in copper coins due to deba...,1789–1793,Copper Panic of 1789
2,Panic of 1792,1792–1792,~2 months,~0 years,Its causes included the extension of credit an...,1792–1792,Panic of 1792
3,Panic of 1796–1797,1796–1799,~3 years,~4 years,Just as a land speculation bubble was bursting...,1796–1799,Panic of 1796–1797
4,1802–1804 recession,1802–1804,~2 years,~3 years,A boom of war-time activity led to a decline a...,1802–1804,1802–1804 recession
5,Depression of 1807,1807–1810,~3 years,~3 years,The Embargo Act of 1807 was passed by the Unit...,1807–1810,Depression of 1807
7,1815–1821 depression,1815–1821,~6 years,~3 years,"Shortly after the war ended on March 23, 1815,...",1815–1821,1815–1821 depression
8,1822–1823 recession,1822–1823,~1 year,~1 year,After only a mild recovery following the lengt...,1822–1823,1822–1823 recession
9,1825–1826 recession,1825–1826,~1 year,~2 years,"The Panic of 1825, a stock crash following a b...",1825–1826,1825–1826 recession
10,1828–1829 recession,1828–1829,~1 year,~2 years,"In 1826, England forbade the United States to ...",1828–1829,1828–1829 recession
11,1833–1834 recession,1833–1834,~1 year,~4 years,The United States' economy declined moderately...,1833–1834,1833–1834 recession

In [5]:
df[df.Date.str.contains == '–']

KeyError: False

In [6]:
df_start = df.Date.str.split('–')

In [7]:
df_start

0     [1785, 1788]
1     [1789, 1793]
2     [1792, 1792]
3     [1796, 1799]
4     [1802, 1804]
5     [1807, 1810]
6           [1812]
7     [1815, 1821]
8     [1822, 1823]
9     [1825, 1826]
10    [1828, 1829]
11    [1833, 1834]
Name: Date, dtype: object

In [25]:
df_start_seq = [start[len(start) - 2] for start in df_start]

In [29]:
df_start_seq

['1785',
 '1789',
 '1792',
 '1796',
 '1802',
 '1807',
 '1812',
 '1815',
 '1822',
 '1825',
 '1828',
 '1833']

In [9]:
df['Start Date'] = pd.to_datetime(df_start_seq)

In [10]:
df

,Name,Dates,Duration,Time since previous recession,Characteristics,Date,Event,Start Date
0,Panic of 1785,1785–1788,~4 years,NaN,"The panic of 1785, which lasted until 1788, en...",1785–1788,Panic of 1785,1785-01-01
1,Copper Panic of 1789,1789–1793,~4 years,~0 years,Loss of confidence in copper coins due to deba...,1789–1793,Copper Panic of 1789,1789-01-01
2,Panic of 1792,1792–1792,~2 months,~0 years,Its causes included the extension of credit an...,1792–1792,Panic of 1792,1792-01-01
3,Panic of 1796–1797,1796–1799,~3 years,~4 years,Just as a land speculation bubble was bursting...,1796–1799,Panic of 1796–1797,1796-01-01
4,1802–1804 recession,1802–1804,~2 years,~3 years,A boom of war-time activity led to a decline a...,1802–1804,1802–1804 recession,1802-01-01
5,Depression of 1807,1807–1810,~3 years,~3 years,The Embargo Act of 1807 was passed by the Unit...,1807–1810,Depression of 1807,1807-01-01
6,1812 recession,1812,~6 months,~18 months,The United States entered a brief recession at...,1812,1812 recession,1812-01-01
7,1815–1821 depression,1815–1821,~6 years,~3 years,"Shortly after the war ended on March 23, 1815,...",1815–1821,1815–1821 depression,1815-01-01
8,1822–1823 recession,1822–1823,~1 year,~1 year,After only a mild recovery following the lengt...,1822–1823,1822–1823 recession,1822-01-01
9,1825–1826 recession,1825–1826,~1 year,~2 years,"The Panic of 1825, a stock crash following a b...",1825–1826,1825–1826 recession,1825-01-01
10,1828–1829 recession,1828–1829,~1 year,~2 years,"In 1826, England forbade the United States to ...",1828–1829,1828–1829 recession,1828-01-01
11,1833–1834 recession,1833–1834,~1 year,~4 years,The United States' economy declined moderately...,1833–1834,1833–1834 recession,1833-01-01

In [11]:
df['End Date'] = pd.to_datetime([start[len(start) - 1] for start in df_start])

In [12]:
df.loc[7, 'Start Date'] = pd.NaT

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Name                           12 non-null     object
 1   Dates                          12 non-null     object
 2   Duration                       12 non-null     object
 3   Time since previous recession  11 non-null     object
 4   Characteristics                12 non-null     object
 5   Date                           12 non-null     object
 6   Event                          12 non-null     object
 7   Start Date                     11 non-null     datetime64[ns]
 8   End Date                       12 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(7)
memory usage: 992.0+ bytes

In [14]:
df_end_seq = [start[len(start) - 1] for start in df_start]

In [15]:
df_end_seq

['1788',
 '1793',
 '1792',
 '1799',
 '1804',
 '1810',
 '1812',
 '1821',
 '1823',
 '1826',
 '1829',
 '1834']

In [16]:
df_null = df[pd.isnull(df['Start Date'])]

In [17]:
df_null

,Name,Dates,Duration,Time since previous recession,Characteristics,Date,Event,Start Date,End Date
7,1815–1821 depression,1815–1821,~6 years,~3 years,"Shortly after the war ended on March 23, 1815,...",1815–1821,1815–1821 depression,NaT,1821-01-01

In [18]:
for index, value in df_null.iterrows():
    print(index)

7

In [32]:
df_earth = pd.read_csv('../Deadliest_earthquakes_by_year.csv')

In [33]:
df_earth

,Year,Magnitude,Location,Depth (km),MMI,Notes,Event,Date
0,1960,5.8,"Morocco, Souss-Massa",15.0,X,Worst earthquake in Moroccan history. Between ...,1960 Agadir earthquake,1960
1,1961,6.4,"Iran, Fars Province",15.0,VIII,60 people were killed.,1961 Fars earthquake,1961
2,1962,7.0,"Iran, Qazvin Province",10.0,IX,"12,225 killed, and major property damage was c...",1962 Buin Zahra earthquake,1962
3,1963,6.0,"Yugoslavia, Republic of North Macedonia",15.0,X,"1,070 people perished and 80 percent of Skopje...",1963 Skopje earthquake,1963
4,1964,9.2,"United States, Alaska",25.0,XI,It is the largest earthquake ever recorded in ...,1964 Alaska earthquake,1964
...,...,...,...,...,...,...,...,...
58,2018,7.5,"Indonesia, Palu",20.0,X,"At least 4,340 people killed, 10,679 and 1.5 m...",2018 Sulawesi earthquake and tsunami,2018
59,2019,6.4,"Albania, Durrës",10.0,VIII,"At least 51 people killed, 3,000 people injure...",2019 Albania earthquake,2019
60,2020,7.0,"Greece, Aegean Sea",21.0,VIII,"At least 119 people killed, 1,096 people were ...",2020 Aegean Sea earthquake,2020
61,2021,7.2,"Haiti, Nippes",10.0,IX,"At least 2,248 people killed, 12,763 people we...",2021 Haiti earthquake,2021
62,2022,6.0,"Afghanistan, Khost",10.0,VIII,"At least 1,163 people were killed and 6,027 ot...",June 2022 Afghanistan earthquake,2022

In [34]:
df_earth['Date'] = df_earth['Date'].astype(str)

In [35]:
df_earth

,Year,Magnitude,Location,Depth (km),MMI,Notes,Event,Date
0,1960,5.8,"Morocco, Souss-Massa",15.0,X,Worst earthquake in Moroccan history. Between ...,1960 Agadir earthquake,1960
1,1961,6.4,"Iran, Fars Province",15.0,VIII,60 people were killed.,1961 Fars earthquake,1961
2,1962,7.0,"Iran, Qazvin Province",10.0,IX,"12,225 killed, and major property damage was c...",1962 Buin Zahra earthquake,1962
3,1963,6.0,"Yugoslavia, Republic of North Macedonia",15.0,X,"1,070 people perished and 80 percent of Skopje...",1963 Skopje earthquake,1963
4,1964,9.2,"United States, Alaska",25.0,XI,It is the largest earthquake ever recorded in ...,1964 Alaska earthquake,1964
...,...,...,...,...,...,...,...,...
58,2018,7.5,"Indonesia, Palu",20.0,X,"At least 4,340 people killed, 10,679 and 1.5 m...",2018 Sulawesi earthquake and tsunami,2018
59,2019,6.4,"Albania, Durrës",10.0,VIII,"At least 51 people killed, 3,000 people injure...",2019 Albania earthquake,2019
60,2020,7.0,"Greece, Aegean Sea",21.0,VIII,"At least 119 people killed, 1,096 people were ...",2020 Aegean Sea earthquake,2020
61,2021,7.2,"Haiti, Nippes",10.0,IX,"At least 2,248 people killed, 12,763 people we...",2021 Haiti earthquake,2021
62,2022,6.0,"Afghanistan, Khost",10.0,VIII,"At least 1,163 people were killed and 6,027 ot...",June 2022 Afghanistan earthquake,2022

In [36]:
df_earth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        63 non-null     int64
 1   Magnitude   63 non-null     object
 2   Location    63 non-null     object
 3   Depth (km)  63 non-null     float64
 4   MMI         63 non-null     object
 5   Notes       63 non-null     object
 6   Event       63 non-null     object
 7   Date        63 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 4.1+ KB

In [37]:
df_earth['Date'] = pd.to_datetime(df_earth['Date'])

In [38]:
df_earth

,Year,Magnitude,Location,Depth (km),MMI,Notes,Event,Date
0,1960,5.8,"Morocco, Souss-Massa",15.0,X,Worst earthquake in Moroccan history. Between ...,1960 Agadir earthquake,1960-01-01
1,1961,6.4,"Iran, Fars Province",15.0,VIII,60 people were killed.,1961 Fars earthquake,1961-01-01
2,1962,7.0,"Iran, Qazvin Province",10.0,IX,"12,225 killed, and major property damage was c...",1962 Buin Zahra earthquake,1962-01-01
3,1963,6.0,"Yugoslavia, Republic of North Macedonia",15.0,X,"1,070 people perished and 80 percent of Skopje...",1963 Skopje earthquake,1963-01-01
4,1964,9.2,"United States, Alaska",25.0,XI,It is the largest earthquake ever recorded in ...,1964 Alaska earthquake,1964-01-01
...,...,...,...,...,...,...,...,...
58,2018,7.5,"Indonesia, Palu",20.0,X,"At least 4,340 people killed, 10,679 and 1.5 m...",2018 Sulawesi earthquake and tsunami,2018-01-01
59,2019,6.4,"Albania, Durrës",10.0,VIII,"At least 51 people killed, 3,000 people injure...",2019 Albania earthquake,2019-01-01
60,2020,7.0,"Greece, Aegean Sea",21.0,VIII,"At least 119 people killed, 1,096 people were ...",2020 Aegean Sea earthquake,2020-01-01
61,2021,7.2,"Haiti, Nippes",10.0,IX,"At least 2,248 people killed, 12,763 people we...",2021 Haiti earthquake,2021-01-01
62,2022,6.0,"Afghanistan, Khost",10.0,VIII,"At least 1,163 people were killed and 6,027 ot...",June 2022 Afghanistan earthquake,2022-01-01

In [6]:
df_second = pd.read_csv('../Free_Banking_Era_to_the_Great_Depression.csv')

In [7]:
df_second

,Name,Dates,Duration,Time since previous recession,Business activity,Trade & industrial activity,Characteristics,date,event,magnitude
0,1836–1838 recession,—,~2 years,~2 years,–32.8%,—,A sharp downturn in the American economy was c...,—,1836–1838 recession,–32.8%
1,late 1839–late 1843 recession,—,~4 years,~1 year,–34.3%,—,This was one of the longest and deepest depres...,—,late 1839–late 1843 recession,–34.3%
2,1845–late 1846 recession,—,~1 year,~2 years,−5.9%,—,This recession was mild enough that it may hav...,—,1845–late 1846 recession,−5.9%
3,1847–1848 recession,late 1847 – late 1848,~1 year,~1 year,−19.7%,—,The Cleveland Trust Company Index declined 19....,late 1847 – late 1848,1847–1848 recession,−19.7%
4,1853–1854 recession,1853 – December 1854,~1 year,~5 years,−18.4%,—,"Interest rates rose in this period, contributi...",1853 – December 1854,1853–1854 recession,−18.4%
5,Panic of 1857,June 1857 – December 1858,1 year 6 months,2 years 6 months,−23.1%,—,Failure of the Ohio Life Insurance and Trust C...,June 1857 – December 1858,Panic of 1857,−23.1%
6,1860–1861 recession,October 1860 – June 1861,8 months,1 year 10 months,−14.5%,—,There was a mild recession before the American...,October 1860 – June 1861,1860–1861 recession,−14.5%
7,1865–1867 recession,April 1865 – December 1867,2 years 8 months,3 years 10 months,−23.8%,—,"The American Civil War ended in April 1865, an...",April 1865 – December 1867,1865–1867 recession,−23.8%
8,1869–1870 recession,June 1869 – December 1870,1 year 6 months,1 year 6 months,−9.7%,—,"A few years after the Civil War, a short reces...",June 1869 – December 1870,1869–1870 recession,−9.7%
9,Panic of 1873 and the Long Depression,October 1873 – March 1879,5 years 5 months,2 years 10 months,−33.6% (−27.3%)[c],—,Economic problems in Europe prompted the failu...,October 1873 – March 1879,Panic of 1873 and the Long Depression,−33.6% (−27.3%)[c]
10,1882–1885 recession,March 1882 – May 1885,3 years 2 months,3 years,−32.8%,−24.6%,"Like the Long Depression that preceded it, the...",March 1882 – May 1885,1882–1885 recession,−32.8%
11,1887–1888 recession,March 1887 – April 1888,1 year 1 month,1 year 10 months,−14.6%,−8.2%,Investments in railroads and buildings weakene...,March 1887 – April 1888,1887–1888 recession,−14.6%
12,1890–1891 recession,July 1890 – May 1891,10 months,1 year 5 months,−22.1%,−11.7%,Although shorter than the recession in 1887–18...,July 1890 – May 1891,1890–1891 recession,−22.1%
13,Panic of 1893,January 1893 – June 1894,1 year 5 months,1 year 8 months,−37.3%,−29.7%,Failure of the United States Reading Railroad ...,January 1893 – June 1894,Panic of 1893,−37.3%
14,Panic of 1896,December 1895 – June 1897,1 year 6 months,1 year 6 months,−25.2%,−20.8%,The period of 1893–1897 is seen as a generally...,December 1895 – June 1897,Panic of 1896,−25.2%
15,1899–1900 recession,June 1899 – December 1900,1 year 6 months,2 years,−15.5%,−8.8%,This was a mild recession in the period of gen...,June 1899 – December 1900,1899–1900 recession,−15.5%
16,1902–1904 recession,September 1902 –August 1904,1 year 11 months,1 year 9 months,−16.2%,−17.1%,"Though not severe, this downturn lasted for ne...",September 1902 –August 1904,1902–1904 recession,−16.2%
17,Panic of 1907,May 1907 – June 1908,1 year 1 month,2 years 9 months,−29.2%,−31.0%,A run on Knickerbocker Trust Company deposits ...,May 1907 – June 1908,Panic of 1907,−29.2%
18,Panic of 1910–1911,January 1910 – January 1912,2 years,1 year 7 months,−14.7%,−10.6%,This was a mild but lengthy recession. The nat...,January 1910 – January 1912,Panic of 1910–1911,−14.7%
19,Recession of 1913–1914,January 1913 – December 1914,1 year 11 months,1 year,−25.9%,−19.8%,Productions and real income declined during th...,January 1913 – December 1914,Recession of 1913–1914,−25.9%
20,Post-World War I recession,August 1918 – March 1919,7 months,3 years 8 months,−24.5%,−14.1%,Severe hyperinflation in Europe took place ove...,August 1918 – March 1919,Post-World War I recession,−24.5%
21,Depression of 1920–1921,January 1920 – July 1921,1 year 6 months,10 months,−38.1%,−32.7%,The 1921 recession began a mere 10 months afte...,January 1920 – July 1921,Depression of 1920–1921,−38.1%
22,1923–1924 recession,May 1923 – June 1924,1 year 2 months,2 years,−25.4%,−22.7%,From the depression of 1920–1921 until the Gre...,May 1923 – June 1924,1923–1924 recession,−25.4%
23,1926–1927 recession,October 1926 – November 1927,1 year 1 month,2 years 3 months,−12.2%,−10.0%,"This was an unusual and mild recession, though...",October 1926 – November 1927,1926–1927 recession,−12.2%

In [43]:
df_second[df_second['Dates[b]'].str.contains('–')].shape[0] > df_second.shape[0] * 0.6

True

In [4]:
column = df_second.Name

In [5]:
column

0                       1836–1838 recession
1             late 1839–late 1843 recession
2                  1845–late 1846 recession
3                       1847–1848 recession
4                       1853–1854 recession
5                             Panic of 1857
6                       1860–1861 recession
7                       1865–1867 recession
8                       1869–1870 recession
9     Panic of 1873 and the Long Depression
10                      1882–1885 recession
11                      1887–1888 recession
12                      1890–1891 recession
13                            Panic of 1893
14                            Panic of 1896
15                      1899–1900 recession
16                      1902–1904 recession
17                            Panic of 1907
18                       Panic of 1910–1911
19                   Recession of 1913–1914
20               Post-World War I recession
21                  Depression of 1920–1921
22                      1923–1924 recession
23                      1926–1927 recession
Name: Name, dtype: object

In [12]:
second_column = df_second['magnitude'].astype(str).tolist()

In [13]:
second_column

['–32.8%',
 '–34.3%',
 '−5.9%',
 '−19.7%',
 '−18.4%',
 '−23.1%',
 '−14.5%',
 '−23.8%',
 '−9.7%',
 '−33.6% (−27.3%)[c]',
 '−32.8%',
 '−14.6%',
 '−22.1%',
 '−37.3%',
 '−25.2%',
 '−15.5%',
 '−16.2%',
 '−29.2%',
 '−14.7%',
 '−25.9%',
 '−24.5%',
 '−38.1%',
 '−25.4%',
 '−12.2%']

In [24]:
cleaned_magnitude_value = [re.findall(r'\d+\.\d+', value) for value in second_column]

In [37]:
len(cleaned_magnitude_value)

24

In [41]:
cleaned_magnitude = [sum(list((map(float, value)))) for value in cleaned_magnitude_value]

In [42]:
len(cleaned_magnitude)

24